extends ../layout.pug
include ../mixins/post.pug

block head
	title Frequently Asked Questions

block content
	h1.board-title FAQ
	include ../includes/stickynav.pug
	.table-container.flex-center.mv-5
		.anchor
		table
			tr
				th Frequently Asked Questions
			tr
				td.post-message
					b General
					ul.mv-0
						li: a(href='#welcome') Welcome to Averi.foo!
						li: a(href='#whats-an-imageboard') What is an imageboard?
						li: a(href='/rules.html') What are the rules?
						li: a(href='#contact') How can I contact the administration?
					b Customization
					ul.mv-0
						li: a(href='#settings-info') What are the settings?
						li: a(href='#themes-info') How do I change the theme?
					b Making posts
					ul.mv-0
						li: a(href='#name-formatting') How do names, tripcodes and capcodes work?
						li: a(href='#post-styling') What kind of styling options are available when making a post?
						li: a(href='#post-info') What is the file size limit?
					b Boards, users & permissions
					ul.mv-0
						li: a(href='#archive-reverse-url-format') What is the archive/reverse image search link url format?
						li: a(href='#twofactor-enforcement') How does 2FA enforcement work?
	.table-container.flex-center.mv-5
		.anchor#welcome
		table
			tr
				th: a(href='#welcome') Welcome to Averi.foo!
			tr
				td
					p
						| A better website for better people.
					p
						| This is our FAQ page, here you'll find some useful information on how to use our website.

	.table-container.flex-center.mv-5
		.anchor#whats-an-imageboard
		table
			tr
				th: a(href='#whats-an-imageboard') What is an imageboard?
			tr
				td
					p
						| An imageboard is a type of discussion board where users share images and text about various topics. 
					p
						| The primary difference between imageboards and traditional forums is that anybody can make a post without registering 
						| an account or providing any personal information. This lowers the barrier to entry, protects user identities and focuses on what is said, rather than who says it. 

	.table-container.flex-center.mv-5
		.anchor#contact
		table
			tr
				th: a(href='#contact') How can I contact the administration?
			tr
				td
					p You can find the email on our github repository.

	.table-container.flex-center.mv-5
		.anchor#settings-info
		table
			tr
				th: a(href='#settings-info') What are the settings?
			tr
				td
					p In the top right corner of your screen is a settings button, pressing it will make a popup appear with a multitude of options. This is how you can customize your experience on the site, from setting the theme to enabling accessibility features.
					center
						img(width="100px" src="/file/settings.png",alt="Settings")
						p The available settings and what they do are listed below.
		table
			tr
				td Live Posts
				td
					span Enabling this makes posts update live. This is enabled by default. When not enabled, you'll have to refresh your page to manually update posts.
			tr
				td Notifications
				td
					span Enabling this will push desktop notifications when posts are made in a thread, allowing you to never miss a new post. This is disabled by default. Requires permission from your browser to send desktop notifications.
			tr
				td Only notify (You)s
				td
					span When Notifications are enabled, it will only notify replies to your posts and not others. This is enabled by default.
			tr
				td Scroll to new posts
				td
					span When new posts are made in a thread, you will automatically scroll to them. This is disabled by default.
			tr
				td Local time
				td Uses your timezone. Turning this off will use the Server's timezone.
			tr
				td 24 hour time
				td Uses 24 hour formats instead of 12PM/AM where applicable.
			tr
				td Show relative time
				td Shows time in the format of "1 month ago" or "1 day ago". Turning this off will show time as their exact dates.
			tr
				td Non-color IDs
				td
					span Enabling this will remove the coloured background that poster IDs have. This is disabled by default.
			tr
				td Fade Post Container
				td
					span When hovering off of the new post container (the box with the subject, name and message field and post button) the container will start to fade in opacity, but will fade back if you put your mouse back on the box. Useful for reading posts while the box is active. This is disabled by default.
			tr
				td Hide post stubs
				td
					span When posts are filtered, they'll show up as stubs with the option for you to un-hide them. If you don't like this and stubs are clogging up the page, you can enable this option to hide them. This is disabled by default.
			tr
				td Hide deleted post content
				td
					span When posts are deleted, they are still visible to everyone unless they refresh their page. Enabling this setting makes deleted posts just disappear with no remains. This is disabled by default.
			tr
				td Disable board custom CSS
				td
					span Disables the board's custom CSS. This is disabled by default.
			tr
				td Hide thumbnails
				td
					span Image thumbnails become invisible. This is disabled by default.
			tr
				td Recursive post hide
				td
					span When hiding a post, it will hide the replies to that post, I'm assuming. This is enabled by default.
			tr
				td Loop Audio/Video
				td
					span Audio and Video will loop when they reach their end timestamp. This is enabled by default.
			tr
				td Unlimit Media Height
				td Unlimits media height on images and video.
			tr
				td Crisp image rendering
				td This is a CSS Toggle that adds the crisp-edges option on image-rendering similar to Nearest Neighbour filtering
			tr
				td Image loading bars
				td
					span When clicking on an image to view it in full scale, a loading bar will appear. This is enabled by default. Disabling this setting will make the loading bar not appear.
			tr
				td Image hover
				td
					span When hovering over an image with your mouse, it will appear on the right as a full-scale image.
			tr
				td Always reveal text spoilers
				td
					span Spoilered text becomes visible always. This is disabled by default.
			tr
				td Show (You)s
				td
					span Shows (You) besides your name on the posts you've made. This is enabled by default.
			tr
				td Smooth scrolling
				td
					span Makes it so when you scroll the page, it's smooth and not jagged. This is enabled by default.
			tr
				td Thread watcher
				td
					span Enables the thread watcher widget, allowing you to watch threads by clicking the post arrow and selecting "Watch". This is enabled by default.

	.table-container.flex-center.mv-5
		.anchor#themes-info
		table
			tr
				th: a(href='#themes-info') How do I change the theme?
			tr
				td
					p You can change the theme in the settings. Under the post password field and above the Code theme field is the Theme field. By default it is on, well... "default", but you can change it to a multitude of different themes. Navy is my best pick if you like darkmode and win95 if you're looking for something retro. You can ofcourse make your own theme using the Custom CSS option.

	.table-container.flex-center.mv-5
		.anchor#name-formatting
		table
			tr
				th: a(href='#name-formatting') Name formatting
			tr
				td.post-message
					p When posting, you can format the name field to include a name, tripcode , capcode, any combination of the three including leaving the field completely blank. Instead of a blank name,  "Furchud" is used, however this depends on board-specific configuration. The optional components are explained below.

					b Format
					p 
						| Names should be input like: 
						input(disabled='true' spellcheck='false' type='text' value='Name##Tripcode## Capcode')
						| . Tripcode and capcode are optional components. Please note the whitespace before capcodes is significant. 
					p Valid examples: 
					ol.mv-0
						li name
						li #tripcode
						li ##tripcode
						li ## capcode
						li name#tripcode
						li name##tripcode
						li name## capcode
						li name#tripcode## capcode
						li name##tripcode## capcode
						li #tripcode## capcode
						li ##tripcode## capcode
						li ##
					p The last example is considered a blank capcode and can be used as a shortcut to display your role. Additionally, if a user has multiple aplicable roles (e.g. a board owner, but the user is also global staff) capcodes will default to their lowest role. To show the higher role, you must be explicit and precede any capcode with the role name e.g. ## Global Staff or ## Global Staff capcode
					p Each component can be used in combination or independently. In a post number 9 would look like:
						-
							const examplePost = {
								"date" : new Date("2019-08-02T09:48:44.180Z"),
								"name" : "name",
								"board" : "example",
								"tripcode" : "!!X8NXmAS44=",
								"capcode" : "##Board Owner capcode",
								"message" : "Hello, world!",
								"nomarkup" : "Hello, world!",
								"thread" : 1,
								"password" : null,
								"email" : "",
								"spoiler" : false,
								"banmessage" : null,
								"files" : [ ],
								"reports" : [ ],
								"globalreports" : [ ],
								"quotes" : [ ],
								"backlinks" : [ ],
								"postId" : 123
							}	
						+post(examplePost)
					p The name appears bold in the top left, followed by the tripcode in regular weight with a !! prefix, then the capcode in a different color, bold and with a ## prefix. The colours may vary between themes but are generally distinct from each other

					b Name
					p The name is simply what name you want to be shown alongside your post. Other users can post with the same name so there is nothing preventing impersonation. This is not related to your username (for registered users).

					b Tripcode
					p A tripcode is a password of sorts, which users can provide in the tripcode component of their name. This tripcode is used in conjunction with a server-known secret to generate a unique* tripcode portion of the name. Long, unique tripcodes can be used as a form of identity. It is important that you keep tripcodes secret if you use them for some form of identity. A compromised tripcode can be used for impersonation and cannot be revoked in any way. Single # before tripcodes will use the traditional (what is now sometimes known as "insecure") tripcode algorithm shared by many imageboard softwares and websites. Double # before tripcodes will use a sha256 hash with server-side secret for a more secure, non-portable tripcode.

					b Capcode
					p A capcode is a component of the name field only available to authenticated users. This includes admins, global staff, board owners and board staff. If there is no text after the ##, the role will be displayed alone. Leaving a space and putting custom text will be prefixed by the role name. This way, the role is always shown to prevent role impersonation.
	.table-container.flex-center.mv-5
		.anchor#post-styling
		table
			tr
				th(colspan=2): a(href='#post-styling') Post styling
			tr
				th Input
				th Output
			tr
				td &gt;greentext
				td
					span.greentext &gt;woah where the hell are we
			tr
				td &lt;orangetext
				td
					span.orangetext &lt;faq.html apparently
			tr
				td %%glowtext%%
				td
					span.glowtext You should kill your neighbour. With a shovel.
			tr
				td ==title==
				td
					span.title Red Text!
			tr
				td --title--
				td
					span.bluetext Blue Text...
			tr
				td ''bold''
				td
					span.bold bold favours the BRAVE!
			tr
				td __underline__
				td
					span.underline The west has fallen.
			tr
				td ~~strikethrough~~
				td
					span.strike Free chicken
			tr
				td ||spoiler text||
				td
					span.spoiler What are you looking at, nufur?
			tr
				td **italic**
				td
					span.em Italalalalalian
			tr
				td (((detected)))
				td
					span.detected ((( they )))
			tr
				td ##2%9+3
				td
					span This is a dice roll. Syntax: ##roles%sides
					br
					img(src='/file/dice.png' height='16' width='16')
					span.dice (##2%9+3) = 10
			tr
				td https://example.com
				td: a(href='#!') https://example.com
			tr
				td
					| [Board Rules](https://your.imageboard/a/custompage/rules.html)
					div
						small (requires permission + staff only)
				td: a(href='#!') Board Rules
			tr
				td
					| ![Alt text](https://your.imageboard/file/example.jpg)
					div
						small (requires permission)
				td: img(src='/file/attachment.png' alt='Alt text' title='alt-text' class='embimg' height='32' width='32')
			tr
				td &gt;&gt;123
				td: a(class="quote" href="#!") &gt;&gt;123
			tr
				td &gt;&gt;&gt;/b/
				td: a(class="quote" href="#!") &gt;&gt;&gt;/b/
			tr
				td &gt;&gt;&gt;/b/123
				td: a(class="quote" href="#!") &gt;&gt;&gt;/b/123
			tr
				td `inline monospace`
				td
					span.mono inline monospace
			tr
				td
					| [code]language
					br
					| int main() {...}
					br
					| [/code]
				td
					span.code int main() {...}
			tr
				td
					pre
						| [code]aa
						| ∧＿∧
						| ( ・ω・) Let's try that again.
						| [&#x2F;code]
				td
					pre.aa
						| ∧＿∧
						| ( ・ω・) Let's try that again.
			tr
				td(colspan=2)
					| Supported languages for code block syntax highlighting: 
					a(rel='nofollow' referrerpolicy='same-origin' target='_blank' href='https://github.com/highlightjs/highlight.js/blob/master/SUPPORTED_LANGUAGES.md') https://github.com/highlightjs/highlight.js/blob/master/SUPPORTED_LANGUAGES.md
					| . 
					| If you do not specify a language, a subset of languages is supported for auto-detection: #{codeLanguages.join(', ')}. 
					| If the language is "plain", an unsupported value, or the auto-detect confidence is too low, highlighting is disabled for the code block. 
					| If the language is "aa", the font will be adjusted for Japanese Shift JIS art.
	.table-container.flex-center.mv-5
		.anchor#post-info
		table
			tr
				th: a(href='#post-info') What is the file size limit?
			tr
				td
					p Max size of form data per-post is #{postFilesSize}. Because other fields e.g. name, message, etc contribute to this, the maximum size of file uploads will be very slightly smaller than this.
	.table-container.flex-center.mv-5
		.anchor#moderation
		table
			tr
				th: a(href='#moderation') How does moderation work?
			tr
				td.post-message
					b Local vs. Global reports
					p
						| There exists the concept of "local" and "global" reports. Reporting a post locally will show the post along with reports on the report page for that particular board, and the reports 
						| may be actioned upon by the board staff. Reporting a post globally will show the post along with reports on the global manage page available only to global staff and may be actioned upon by global staff. 
						| Global reports should be used to flag posts that violate global rules such as illegal content or spam, in contrast to local reports which are for posts that abide by global rules but break 
						| board-specific rules (which may be made arbitrarily by board staff). It is also possible to be banned from a board or globally for abuse of the report system.
					b Batch processing of posts
					p
						| Each post has a checkbox in the top left to select it for moderation actions. Multiple posts may be selected to allow batch processing e.g. reporting multiple offending posts in one request. 
						| The same is present in moderation interfaces. Some actions for example bans (which are based on IP) may also be handled in batches. Selecting multiple posts and using the ban action will 
						| apply a single ban for each unique IP of the selected posts.
					b Time format in moderation interfaces
					p
						| Some moderation interfaces, for example the ban duration when moderating posts, or the ban duration for post filtering use a shorthand for times/length. This format supports years, months, weeks, days, hours, minutes and seconds.
						| An input of "3mo" would mean 3 months and "1y2mo3w4d5h6m7s" would mean 1 year, 2 months, 3 weeks, 4 days, 5 hours, 6 minutes and 7 seconds. Units of time should be in descending order, so "2w1mo" is invalid.
						| However you may use "6w" for example to input 6 weeks, and are not required to use "1mo2w".
	.table-container.flex-center.mv-5
		.anchor#antispam
		table
			tr
				th: a(href='#antispam') What do the board settings for antispam do?
			tr
				td
					p Lock Mode: Choose to lock posting new threads or all posts.
					p Captcha Mode: Choose to enforce captchas for posting threads or all posts.
					p PPH Trigger Threshold: Trigger an action after a certain amount of PPH.
					p PPH Trigger Action: The action to trigger.
					p TPH Trigger Threshold: Trigger an action after a certain amount of TPH.
					p TPH Trigger Action: The action to trigger.
					p Trigger Reset Lock Mode: If a trigger threshold was reached, reset the lock mode to this at the end of the hour.
					p Trigger Reset Captcha Mode: If a trigger threshold was reached, reset the captcha mode to this at the end of the hour.
					p Early 404: When a new thread is posted, delete any existing threads with less than #{early404Replies} replies beyond the first 1/#{early404Fraction} of threads.
					p Disable anonymizer file posting: Prevent users posting images through anonymizers such as Tor hidden services, lokinet SNApps or i2p eepsites.
					p Blocked Countries: Block country codes (based on geo Ip data) from posting.
	.table-container.flex-center.mv-5
		.anchor#filters
		table
			tr
				th: a(href='#filters') What do the filter options do?
			tr
				td
					p Filters: Newline separated list of words or phrases to match in posts. Checks name, message, email, subject, and filenames.
					p Strict Filtering: More aggressively match filters, by normalising the input compared against the filters.
					p Filter Mode: What to do when a post matches a filter.
					p Block/Ban Message: The message returned if a post is blocked, or the ban reason if a poster is banned.
					p Filter Auto Ban Duration: How long to automatically ban for when filter mode is set to ban. Input the duration in time format described in the #[a(href='#moderation') moderation section].
					p Filter Bans Appealable: Whether or not a ban given by this filter can be appealed. This can be useful if the ban hits an innocent user by mistake.
					p Replace Text: Text to substitute in for a replace filter. This is how word filters are added.
	.table-container.flex-center.mv-5
		.anchor#archive-reverse-url-format
		table
			tr
				th: a(href='#archive-reverse-url-format') What is the archive/reverse image search link url format?
			tr
				td
					p
						| Put a link with 
						span.mono %s
						|  where the url of the page/file should go for reverse image search or archive links. For example 
						span.mono https://tineye.com/search?url=#[span.bold %s]
						| .
	.table-container.flex-center.mv-5
		.anchor#twofactor-enforcement
		table
			tr
				th: a(href='#twofactor-enforcement') How does 2FA enforcement work?
			tr
				td
					p There are two options included in global management settings that allow admins to increase security by enforcing the use of 2FA for all accounts and/or actions.
					p Force Account 2FA: Forces all accounts to have 2FA, or else the user is redirected to the 2FA setup page.
					p Force Action 2FA: If an account has 2FA enabled, the 2FA code must be input for: changing global settings, changing board settings, resigning from a staff position, deleting accounts, deleting your own account, or deleting a board.
					p The granularity of what actions require 2FA will be expanded and customisable in a future release.
