mixin fileapproval(filename, approved)
	.approval-button-container(data-filename=filename, class=(approved ? "approval-hidden" : ""))
		select(class="approval-list")
			option(value="approve") Approve
			option(value="spoiler_file") Spoiler
			option(value="delete_file") Delete
			option(value="nsfw") Deny: NSFW
			option(value="illegal") Deny: ILLEGAL
			option(value="artificial") Deny: AI ART
		input.approve-button(id='approval-input' type='submit' name='approve' value='Submit', data-filename=filename)
